@{
    ViewBag.Title = "添加套餐";
    Layout = null;
}
<form id="dataForm">
    <table class="gridtable">
        <tr>
            <td>套餐名称</td>
            <td>
                <input class="easyui-textbox" name="sVipName" data-options="required:true,width:300">
            </td>
        </tr>
        <tr>
            <td>套餐价格</td>
            <td>
                <input class="easyui-numberbox" name="dVipPrices" data-options="required:true,min:0,precision:2,width:300">
            </td>
        </tr>
        <tr>
            <td>套餐原价</td>
            <td>
                <input class="easyui-numberbox" name="dOldPrices" data-options="required:true,min:0,precision:2,width:300">
            </td>
        </tr>
        <tr>
            <td>优惠金额</td>
            <td>
                <input class="easyui-numberbox" name="dSavePrices" data-options="required:true,min:0,precision:2,width:300">
            </td>
        </tr>

        <tr>
            <td>返佣金额</td>
            <td>
                <input class="easyui-numberbox" data-options="required:true,min:0,width:300" name="dBonusMoney">
            </td>
        </tr>
        <tr>
            <td>套餐周期</td>
            <td>
                <input class="easyui-numberspinner" name="sVipDays" data-options="required:true,min:0,width:300">
            </td>
        </tr>
        <tr>
            <td>排序</td>
            <td>
                <input class="easyui-numberspinner" name="iSort" data-options="required:true,min:0,width:300">
            </td>
        </tr>
    </table>
</form>



