<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    <!--Dapper查询接口-->
    <typeAlias alias="IDbQuery"       type="Framework.DBAccess.IDbQuery,Framework.DBAccess" />
    <typeAlias alias="DbQueryHelper" type="Framework.DBAccess.DbQueryHelper,Framework.DBAccess" />
    <!--Dapper操作接口-->
    <typeAlias alias="IDbUpdate"       type="Framework.DBAccess.IDbUpdate,Framework.DBAccess" />
    <typeAlias alias="DbUpdateHelper" type="Framework.DBAccess.DbUpdateHelper,Framework.DBAccess" />
    <!--方法接口配置-->
    <typeAlias alias="IClient"       type="Framework.Interfaces.IClient,Framework.Interfaces" />
    <typeAlias alias="ClientService" type="Framework.Services.ClientService,Framework.Services" />
    <typeAlias alias="IConcern"       type="Framework.Interfaces.IConcern,Framework.Interfaces" />
    <typeAlias alias="ConcernService" type="Framework.Services.ConcernService,Framework.Services" />
  </typeAliases>
  <container>
    <register type="IDbQuery" mapTo="DbQueryHelper" />
    <register type="IDbUpdate" mapTo="DbUpdateHelper" />
    <!--方法的映射-->
    <register type="IClient" mapTo="ClientService" />
    <register type="IConcern" mapTo="ConcernService" />
  </container>
</unity>